.success {
  background-color: rgb(47, 49, 48);
  padding: 15px;
  border: 1px solid rgb(29, 243, 172);
  color: rgb(0, 255, 170);
}
.failure {
  background-color: rgb(47, 49, 48);
  padding: 15px;
  border: 1px solid rgb(245, 46, 46);
  color: rgb(245, 46, 46);
}
.blog {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.blog > div:first-child:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}